* { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    text-style: none;
    text-decoration: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.about-me {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.heading {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.flex-left {
    display: inline;
    width: 55%;
}

.flex-right {
    display: inline;
    width: 45%;
}

.paragraph {
    text-align: center;
    margin: 20px;
}

#my-picture {
    border-color: green;
    border-radius: 500px;
    border-style: solid;
    border-width: 5px;
    height: auto;
    margin: 10px 80px 50px 30px;
    max-width: 70%;
}
footer {
    background-color: black;
    color: white;
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .centered {
        font-size: 30px;
    }

    .about-me {
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .flex-left, .flex-right {
        display: block;
        flex-direction: column;
        height: auto;
        width: auto;
    } 
}