* { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}


nav {
    background-color: black;
    text-style: none;
    text-decoration: none;
}

a:hover {
    color: red;
}

header {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

#projects {
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    margin: auto;
    width: 60%;
}

#rotten-code {
    justify-content: center;
    text-align: center;
}

#rotten {
    justify-content: center;
}

#rotten-picture {
    justify-content: center;
    text-align: center;
}

.centered {
    justify-content: center;
    text-align: center;
}

#rotten-code-url {
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

#rotten-trailers-url {
    justify-content: center;
    text-align: center;
}

.project-description {
    text-align: center;
}

.titles {
    font-weight: bold;
    text-align: center;
}

.individual-project {
    justify-content: center;
    text-align: center;
}

.individual-picture {
    height: 200px;
    width: auto;
}

#more-projects {
    justify-content: center;
    margin: 30px;
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
}