* { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    text-style: none;
    text-decoration: none;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #009f93;
}

#rotten-code-url {
    text-align: center;
    text-decoration: none;
}

.project-description {
    text-align: center;
}

.titles {
    font-weight: bold;
    text-align: center;
}