* { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;

}

nav {
    background-color: black;
    text-style: none;
    text-decoration: none;
}


a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #009f93;
}

.first-image {
    display: block;
    position: relative;
    text-align: center;
    color: white;
}

.picture {
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0.6;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 45px;
    transform: translate(-50%, -50%);
  }

footer {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
}





