* { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}


nav {
    background-color: black;
    text-style: none;
    text-decoration: none;
}

a:hover {
    color: red;
}

#centered {
    text-align: center;
}

#picture {
    height: auto;
    width: 100%;
    opacity: 0.6;
}

.paragraph {
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
}