* { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: black;
    color: aliceblue;
    padding: 10px;
}

footer {
    background-color: black;
    color: aliceblue;
}